<!DOCTYPE html>
<html>
<meta>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</meta>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragrsaph.</p>
<div hx-get="www.openml.org/example">Get Some HTML</div>
<div style="background:blue;color:white;">hello</div>
<button hx-get="http://localhost:8000/blue"
    hx-trigger="click"
    hx-swap="outerHTML"
>
    Click Me!
</button>

</body>
</html>