body {
}

.centered-column {
    padding-left: 20%;
    padding-right: 20%;
}
@media (max-width: 800px) {
    .centered-column {
      padding-left: 5%;
      padding-right: 5%;
    }
}
.dataset-list {
    display:flex;
    flex-direction:column;
    gap: 1em;
}

.dataset-list-item {
    border: 1px solid green;
    border-radius: 3px;
    box-shadow: 0px 2px 2px green;
}
.dataset-list-item:hover{
  background:grey;
}